<ion-content>
    <div class="item">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title class="text-center">Article</ion-title>
    </div>
    <ion-card class="contenu">
        <ion-card-header class="text-center">
            <ion-grid>
                <ion-row>
                    <ion-col>
                        <button (click)="addArticle()" class="btn btn-success"><ion-icon name="add-circle"></ion-icon>new article</button>
                        <h1>List articles</h1>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-card-header>
        <ion-card-content>
            <ion-grid *ngFor="let item of articles">
                <a [routerLink]="['/','detail-article', item]">
                    <ion-row class="rowContent">
                        <ion-col style="margin: auto;">
                            <h1> {{item.name}} </h1>
                            <h1> {{item.title}} </h1>
                        </ion-col>

                    </ion-row>
                </a>
            </ion-grid>
        </ion-card-content>
    </ion-card>
</ion-content>