.item {
    background-image: url(../../assets/images/app-header-bg.jpg);
    padding-bottom: 100px;
    border-radius: 0 0 105px 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    color: #fff;
}

.contenu {
    margin-top: -20px;
}

.form {
    padding: 10px;
}