<ion-content>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Disabled</a>
                </li>
            </ul>
        </div>
    </nav>
</ion-content>


<!-- <ion-content class="ios hydrated" style="--offset-top:0px; --offset-bottom:0px;">
    <ion-list class="ios list-ios hydrated">
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="mail" slot="start" role="img" class="ios hydrated" aria-label="mail"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Inbox</ion-label>
        </ion-item>
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="paper-plane" slot="start" role="img" class="ios hydrated" aria-label="paper plane"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Outbox</ion-label>
        </ion-item>
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="heart" slot="start" role="img" class="ios hydrated" aria-label="heart"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Favorites</ion-label>
        </ion-item>
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="archive" slot="start" role="img" class="ios hydrated" aria-label="archive"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Archived</ion-label>
        </ion-item>
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="trash" slot="start" role="img" class="ios hydrated" aria-label="trash"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Trash</ion-label>
        </ion-item>
        <ion-item class="item ios in-list ion-focusable hydrated item-label">
            <ion-icon name="warning" slot="start" role="img" class="ios hydrated" aria-label="warning"></ion-icon>
            <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated">Spam</ion-label>
        </ion-item>
    </ion-list>
</ion-content> -->