<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-icon name="arrow-back" (click)="BackToArticle()"></ion-icon>
        </ion-buttons>
        <ion-title>
            New article
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="contenu">
        <form class="row g-3 needs-validation" novalidate [formGroup]="add">
            <div class="col-12">
                <label for="validationCustom01" class="form-label">Name article</label>
                <input type="text" class="form-control w-100" id="validationCustom01" required formControlName="name">
                <small *ngIf="add.get('name').hasError('required')" class="text-danger">Is required </small>
                <small *ngIf="add.get('name').hasError('minlength')" class="text-danger">The minimum length for the field is 3 characters</small>
                <small *ngIf="add.get('name').hasError('maxlength')" class="text-danger">The maximem length for the field is 10 characters</small>

            </div>
            <div class="col-12">
                <label for="validationCustom02" class="form-label">Category</label>
                <input type="text" class="form-control w-100" id="validationCustom02" required formControlName="category">
                <small *ngIf="add.get('category').hasError('required')" class="text-danger">Is required </small>
            </div>
            <div class="col-12">
                <label for="validationCustomUsername" class="form-label">Prix</label>
                <div class="input-group has-validation">
                    <input type="text" class="form-control w-100" id="validationCustomUsername" aria-describedby="inputGroupPrepend" required formControlName="prix">
                    <small *ngIf="add.get('prix').hasError('required')" id="validationCustom01" class="text-danger">Is required </small>
                </div>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" (click)="onAdd()" type="submit">Submit form</button>
            </div>
        </form>
    </ion-card>
</ion-content>